<h2>Notifyre tells you when your house is on fire. There&rsquo;s really nothing else to know.</h2>

<div class="map">
</div>

<form action="/signup" method="POST">
  <label for="email">Your Email</label>
  <input type="text" id="email" name="email"/>
  <label for="phone">Your Cell#</label>
  <input type="text" id="phone" name="phone"/>
  <label for="address">Your Address</label>
  <input type="text" id="address" name="address"/>

  <div class="submitLine">
    <input type="submit" value="join"/>
  </div>
</form>
