<h2>Notifyre tells you when your house is on fire. There&rsquo;s really nothing else to know.</h2>

<div class="map">
<iframe title="Seattle Fire 911 since 8/21 above 45th Parallel" src="http://data.seattle.gov/w/3wug-gg9f/2myu-6xk5?cur=1xaEZsOchwH&from=root" frameborder="0" scrolling="no"><a href="http://data.seattle.gov/Fire/Seattle-Fire-911-since-8-21-above-45th-Parallel/3wug-gg9f" title="Seattle Fire 911 since 8/21 above 45th Parallel" target="_blank">Seattle Fire 911 since 8/21 above 45th Parallel</a></iframe>
</div>

<form action="/signup" method="POST">

  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>

  <label for="email">Your Email</label>
  <input type="text" id="email" name="user[email]"/>
  <div class="signinSection">
    <label for="password">A Password</label>
    <input type="text" id="password" name="user[password]"/>
  </div>
  <div class="signupSection">
    <label for="phone">Your Cell#</label>
    <input type="text" id="phone" name="user[phone_number]"/>
    <label for="address">Your Address</label>
    <input type="text" id="address" name="alert[human_address]"/>
  </div>

  <div class="submitLine">
    <input type="submit" value="join"/>
    <a class="signinToggleLink" href="#signin">Already have an account?</a>
  </div>
</form>

<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascripts/home.js"></script>
<% end %>
