<h2>Notifyre tells you when your house is on fire. There&rsquo;s really nothing else to know.</h2>

<div class="map">
<iframe title="911 Fire Last 24 Hours (above 45th Parallel)"  src="http://data.seattle.gov/w/e63t-sea3/2myu-6xk5?cur=IzWNkfDdMJ1&from=root" frameborder="0" scrolling="no"><a href="http://data.seattle.gov/Fire/911-Fire-Last-24-Hours-above-45th-Parallel-/e63t-sea3" title="911 Fire Last 24 Hours (above 45th Parallel)" target="_blank">911 Fire Last 24 Hours (above 45th Parallel)</a></iframe>
</div>

<form action="/signup" method="POST">
  <label for="email">Your Email</label>
  <input type="text" id="email" name="email"/>
  <div class="signinSection">
    <label for="password">A Password</label>
    <input type="text" id="password" name="password"/>
  </div>
  <div class="signupSection">
    <label for="phone">Your Cell#</label>
    <input type="text" id="phone" name="phone"/>
    <label for="address">Your Address</label>
    <input type="text" id="address" name="address"/>
  </div>

  <p>(We'll text you a temporary password)</p>

  <div class="submitLine">
    <input type="submit" value="join"/>
    <a class="signinToggleLink" href="#signin">Already have an account?</a>
  </div>
</form>

<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascripts/home.js"></script>
<% end %>
