<h2>Fires? We don't need no stikin fires.</h2>

<h3>Matches:</h3>
<ul>
  <% @matches.each do |fyre, alerts| %>
    <li>Type: <%= fyre.type %>, Address: <%= fyre.address %></li>
  <% end %>
</ul>

<p>Last Updated: <%= @last_pulled.value %></p>


